$height: 24px;

.simple-select {
  position: relative;

  .select-result {
    display: block;
    width: 100%;
    height: $height;
    box-sizing: border-box;
    padding: 4px;
    padding-right: $height;
  }

  .link-clear, .link-expand {
    display: block;
    width: $height;
    height: $height;
    line-height: $height;
    text-align: center;
    font-size: 12px;
    color: #999999;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    > i span {
      font-style: normal;
    }
  }

  .link-expand {
    font-size: 14px;
  }

  .link-clear {
    display: none;
  }

  &.allow-empty.selected {
    .link-expand {
      display: none;
    }

    .link-clear {
      display: block;
    }
  }

  .select-list {
    display: none;
    width: 100%;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #ffffff;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);

    .loading,
    .no-results {
      padding: 8px;
      font-size: 12px;
      line-height: 1;
      color: #999999;
    }

    .select-item, .select-group {
      display: block;
      font-size: 12px;
      line-height: 24px;
      padding: 0 10px;
      color: #666666;
      border-bottom: 1px solid #dfdfdf;
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:first-child {
        -webkit-border-radius: 4px 4px 0 0;
           -moz-border-radius: 4px 4px 0 0;
                border-radius: 4px 4px 0 0;
      }

      &:last-child {
        border-bottom: none;
        -webkit-border-radius: 0 0 4px 4px;
           -moz-border-radius: 0 0 4px 4px;
                border-radius: 0 0 4px 4px;
      }

      &:hover, &.selected {
        background: #efefef;
      }

      .label {
        color: #666666;
        text-decoration: none;
      }

      .hint {
        float: right;
        color: #aaa;
      }
    }

    .select-group {
      background: #f6f6f6;
      color: #000000;
      font-weight: bold;
      cursor: default;
      &:hover {
        background: #f6f6f6;
      }
    }
  }

  &.expanded .select-list {
    display: block;
  }

  &.word-wrap {
    .select-result {
      resize: none;
      overflow: hidden;
    }
    .select-list {
      .select-item {
        white-space: normal;
      }
    }
  }
}
