.simple-select {
  position: relative;
}
.simple-select .select-result {
  display: block;
  width: 100%;
  height: 24px;
  box-sizing: border-box;
  padding: 4px;
  padding-right: 24px;
}
.simple-select .link-clear, .simple-select .link-expand {
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  color: #999999;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.simple-select .link-clear:hover, .simple-select .link-expand:hover {
  opacity: 0.8;
}
.simple-select .link-clear > i span, .simple-select .link-expand > i span {
  font-style: normal;
}
.simple-select .link-expand {
  font-size: 14px;
}
.simple-select .link-clear {
  display: none;
}
.simple-select.allow-empty.selected .link-expand {
  display: none;
}
.simple-select.allow-empty.selected .link-clear {
  display: block;
}
.simple-select .select-list {
  display: none;
  width: 100%;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}
.simple-select .select-list .loading,
.simple-select .select-list .no-results {
  padding: 8px;
  font-size: 12px;
  line-height: 1;
  color: #999999;
}
.simple-select .select-list .select-item, .simple-select .select-list .select-group {
  display: block;
  font-size: 12px;
  line-height: 24px;
  padding: 0 10px;
  color: #666666;
  border-bottom: 1px solid #dfdfdf;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.simple-select .select-list .select-item:first-child, .simple-select .select-list .select-group:first-child {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.simple-select .select-list .select-item:last-child, .simple-select .select-list .select-group:last-child {
  border-bottom: none;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.simple-select .select-list .select-item:hover, .simple-select .select-list .select-item.selected, .simple-select .select-list .select-group:hover, .simple-select .select-list .select-group.selected {
  background: #efefef;
}
.simple-select .select-list .select-item .label, .simple-select .select-list .select-group .label {
  color: #666666;
  text-decoration: none;
}
.simple-select .select-list .select-item .hint, .simple-select .select-list .select-group .hint {
  float: right;
  color: #aaa;
}
.simple-select .select-list .select-group {
  background: #f6f6f6;
  color: #000000;
  font-weight: bold;
  cursor: default;
}
.simple-select .select-list .select-group:hover {
  background: #f6f6f6;
}
.simple-select.expanded .select-list {
  display: block;
}
.simple-select.word-wrap .select-result {
  resize: none;
  overflow: hidden;
}
.simple-select.word-wrap .select-list .select-item {
  white-space: normal;
}
